{% extends "base.html" %}
{% set active_page = "index" %}
{% block content %}
  {% include 'flash.html' %}
  <style>
  .jumbotron {
      margin-bottom: 0px;
      /* background-image: url("{{ url_for('static', filename='img/image.jpg') }}"); */
      background-position: 0% 25%;
      background-size: cover;
      background-repeat: no-repeat;
      color: black;
      height: 100%;
      /*text-shadow: black 0.3em 0.3em 0.3em;*/
  }
  </style>
  <div class="col-md-12">
    {% if g.user.is_authenticated %}

    {% else %}
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6">
          <h2>Visitor Health Log</h2>
          <p>COVID-19 Health Screening Questions and Log</p>
          <p>
            <a href="{{ url_for('register') }}" class="btn btn-primary btn-large">Sign up now!</a>
          </p>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="row">&nbsp;</div>
    <!-- <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Parents</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Family & Friends</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Results</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div> -->
  </div>
{% endblock %}
