<!-- extend base layout -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "register" %}
{% block content %}
  {% include 'flash.html' %}
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sign Up</h3>
      </div>
      <div class="panel-body">
        <form class="form" action="" method="post" name="post">
          {{ form.hidden_tag() }}
          {{ form.referral }}
          {{ wtf.form_field(form.email,placeholder="Email", class_="form-control") }}
          {{ wtf.form_field(form.apartment,placeholder="Apartment/Unit", class_="form-control") }}
          {{ wtf.form_field(form.password,placeholder="Password", class_="form-control") }}
          {{ wtf.form_field(form.pw_confirm,placeholder="Confirm Password", class_="form-control") }}
          <p><input type="submit" class="btn btn-lg btn-primary" value="Submit"></p>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
